/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color: #1f2028;
  --color-primary: #20222C;
  --color-secondary: #1C68B0;
  --color-accent: #CECECE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial;
  background: var(--background-color);
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  &:has(dialog[open]) {
    overflow: hidden;
  }
}

main {
  position: relative;
}

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}